<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Add reminder</title>

<body>
<h2>後端管理</h2>

{% if query %}
{% for query in query %}
<form method="post" action="/edit/{{ query.id }}">
  <input type="hidden" name="key" value="{{ query.key }}">
  
  <label> Name </label><br>  
  <div class="name"> {{ query.Name }} </div>
  <div class="recevier"> {{ query.Recevier }} </div>
  <br>
  <label> Content </label><br>  
  <textarea name="item" rows="10" cols="30"> {{ query.Present }} </textarea>
  <p><input type="submit" value="確定修改"></p>
</form>
{% endfor %}
{% endif %}

<hr>

</body>
</html>
